#about_us {
  padding: 5% 2%;
}

.about_us_wripper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 1.3% 1.2%;
}

.about_us_content {
  width: 550px;
  padding: 1.3rem 1.1rem;
}

.content_two {
  height: 70vh;
  padding: 0px;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.title {
  font-size: 2.5rem;
  line-height: 3rem;
  padding-bottom: 3.5%;
  color: #0a2640;
}

.description {
  font-size: 1.2rem;
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  #about_us {
    padding: 5% 3%;
  }
  .about_us_wripper {
    flex-direction: column-reverse;
    gap: 30px;
    padding-bottom: 13%;
  }
  .about_us_content {
    width: 330px;
  }
  .content_two {
    width: 330px;
    height: 50vh;
  }
  .title {
    font-size: 2rem;
    padding-bottom: 8%;
    line-height: 2.5rem;
  }
}
