.sign_up {
  padding: 4% 2%;
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUp_wripper {
  padding: 4% 2%;
  background: #ffffff;
  width: 370px;
  box-shadow: 4px 4px 3px 4px gray;
}

.title {
  color: #0a2640;
  padding-bottom: 5%;
}

.description {
  opacity: 0.8;
  padding-bottom: 7%;
}

.title,
.description {
  text-align: center;
}

.label {
  font-size: 1.3rem;
  color: #0a2640;
  padding-bottom: 2%;
  display: inline-block;
}

.input {
  width: 97%;
  height: 6vh;
  border-radius: 10px;
  outline: none;
  background: transparent;
  border: 2px solid gray;
  padding-left: 20px;
  font-size: 1.1rem;
  margin-bottom: 6%;
}

.input:focus {
  outline: 2px solid #ed017f;
  border: 2px solid transparent;
}

.checkbox {
  width: 10%;
  height: 3vh;
}

.span1 {
  opacity: 0.7;
  display: inline-block;
  padding-bottom: 6%;
}

.span2 {
  padding-left: 30%;
}

.span22 {
  padding-top: 6%;
  display: inline-block;
}

.span3 {
  padding-left: 10%;
}

.link {
  text-decoration: none;
  color: #0a2640;
  font-weight: 500;
  padding-left: 10px;
}

.link:hover {
  color: #ed017f;
}

.icon_wripper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 5% 0px;
}

.icon_wripper2 {
  margin-bottom: 15%;
}

.icon {
  color: #0a2640;
  font-size: 1.6rem;
  transition: 0.5s ease-out;
}

.icon:hover {
  color: #ed017f;
}

.forget_password {
  padding: 0px 0px 8% 53%;
  text-align: end;
  display: inline-block;
  text-decoration: none;
  color: #0a2640;
}

.forget_password:hover {
  color: #ed017f;
}

@media screen and (max-width: 767px) {
  .sign_up {
    padding: 16% 4%;
    margin-top: 3rem;
  }
}
